.counterner{
   background-color: #222; 
   margin: 0 auto; 
   max-width: 750px;
}
.info{
   margin: 0 auto;
   max-width: 750px;
}
img{
 border-radius: 26px;
 border-radius: 15px 20px;}
 .shabaka{
   background-color: white; 
 }
p{
   color: white;

}
b{
    color: white;
}
h1 no{
    color: white;

}